/*
 * Copyright (c) 2024 MASSDRIVER EI (massdriver.space)
 * Copyright (c) 2018-2023 Nordic Semiconductor ASA
 * Copyright (c) 2017 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
// #include "heltec_t114-pinctrl.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/led/led.h>

/ {
	model = "Heltec T114";
	compatible = "others,heltec-t114";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,ieee802154 = &ieee802154;
	};

	digital_outputs {
		compatible = "gpio-leds";

		led4: led_4 {
			gpios = <&gpio1 3 GPIO_ACTIVE_LOW>;
			label = "Green LED";
		};

		vext_control:vext_control {
			gpios = <&gpio0 21 GPIO_ACTIVE_HIGH>;
			label = "VEXT Control";
		};
	};

	buttons {
		compatible = "gpio-keys";
	
		button0: button_0 {
			gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
			label = "Button 0";
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	led_strip:led_strip {
		compatible = "worldsemi,ws2812-gpio";
		label = "SK6812_STRIP";
		gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
		chain-length = <2>;
		color-mapping = <LED_COLOR_ID_GREEN
						LED_COLOR_ID_RED
						LED_COLOR_ID_BLUE>;
		status = "okay";
	};

		
	aliases {
		led4 = &led4;
		led-strip = &led_strip;
		button0 = &button0;
		mcuboot-led4 = &led4;
		watchdog0 = &wdt0;
		vext-control = &vext_control;
	};
};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&uicr {
	nfct-pins-as-gpios;
	gpio-as-nreset;
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&led_strip {
	status = "okay";
};

&ieee802154 {
	status = "okay";
};

zephyr_udc0: &usbd {
	status = "okay";
};
#include <../boards/common/usb/cdc_acm_serial.dtsi>
